@using System.Linq
@model IEnumerable<CustomIdentityUser>

<link rel="stylesheet" href="~/css/personalstyling.css" />
<link rel="stylesheet" href="~/css/footerstyle.css" />

<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempRoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tempRoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-email="@item.Email">ROL TOEWIJZEN</a> |
            </td>
        </tr>
    }
    </tbody>
</table>
